@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #464663 #121313;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #464663 #121313;
}

.markdown-content h1 {
  color: blue;
  font-size: 2em;
}

.markdown-content p {
  color: gray;
}

.markdown-content a {
  color: red;
}